@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {

    /* Primary color */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral colors */
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /* Font-style */
    --outfit-font: 'Outfit',
        sans-serif;
}


*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
li,
a,
button {
    font-family: var(--outfit-font);
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

p,
li,
a,
button {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--very-dark-blue-main);
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

button {
    background-color: transparent;
    padding: 0;
    margin: 0;
}